@using Our.Umbraco.MembershipStarterKit.Controllers
@using Our.Umbraco.MembershipStarterKit.Models.ViewModels
@model ChangePasswordViewModel
@using (Html.BeginUmbracoForm<ChangePasswordController>("ChangePassword"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.CurrentPassword)
        @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control", placeholder = "Current password" })
        @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "invalid-feedback" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword)
        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder = "New password" })
        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "invalid-feedback" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "invalid-feedback" })
    </div>
    <button type="submit" class="btn btn-block btn-primary">Change Password</button>
}