@using Our.Umbraco.MembershipStarterKit.Controllers
@using Our.Umbraco.MembershipStarterKit.Models.ViewModels
@model ForgotPasswordViewModel
@using (Html.BeginUmbracoForm<ForgotPasswordController>("ForgotPassword"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "invalid-feedback" })
    </div>
    <button type="submit" class="btn btn-block btn-primary">Email Link</button>
}