@using Our.Umbraco.MembershipStarterKit.Controllers
@using Our.Umbraco.MembershipStarterKit.Models.ViewModels
@model SignInViewModel
@using (Html.BeginUmbracoForm<SignInController>("SignIn", new { ReturnUrl = Request["returnUrl"] }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Username" })
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "invalid-feedback" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "invalid-feedback" })
        @if (!string.IsNullOrWhiteSpace(Model.ForgotPasswordUrl))
        {
            <a class="float-right font-weight-light" href="@Model.ForgotPasswordUrl">
                Forgot password?
            </a>
        }
    </div>
    <div class="form-group form-check">
        @Html.CheckBoxFor(model => model.RememberMe, new { @class = "form-check-input" })
        @Html.LabelFor(model => model.RememberMe, new { @class = "form-check-label" })
    </div>
    <button type="submit" class="btn btn-block btn-primary">Sign In</button>
}