@using ClientDependency.Core.Mvc
@inherits UmbracoViewPage
@{
    var home = (Home)Model.Site();

    Html.RequiresCssBundle("MasterCss");
    Html.RequiresJsBundle("MasterScripts");
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Model.Name - @home.SiteName</title>
    @Html.RenderCssHere()
    <style>
        body {
            padding-top: 3.5rem;
        }
    </style>
</head>
<body>
    @Html.Partial("_Navbar")

    <main role="main">
        @RenderBody()
    </main>

    <footer class="container">
        <hr>
        <p>@home.FooterText</p>
    </footer>

    @Html.RenderJsHere()
</body>
</html>