@inherits UmbracoViewPage
@{
    var home = (Home)Model.Site();
    var signIn = home.Children<SignIn>().FirstOrDefault();
    var register = home.Children<Register>().FirstOrDefault();
}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <span class="navbar-brand">@home.SiteName</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item @Umbraco.If(Model.Id == home.Id, "active")">
                <a class="nav-link" href="@home.Url">
                    @home.Name
                    @if (Model.Id == home.Id)
                    {
                        <span class="sr-only">(current)</span>
                    }
                </a>
            </li>
        </ul>
        @if (Members.IsLoggedIn())
        {
            using (Html.BeginUmbracoForm<Umbraco.SampleSite.Controllers.SignInController>("SignOut"))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-outline-success">Sign Out</button>
            }
        }
        else
        {
            <div>
                @if (signIn != null)
                {
                    <a class="btn btn-outline-success" href="@signIn.Url">@signIn.Name</a>
                }
                @if (register != null)
                {
                    <a class="btn btn-success" href="@register.Url">@register.Name</a>
                }
            </div>
        }
    </div>
</nav>