@model Umbraco.SampleSite.Models.SignInModel
@using (Html.BeginUmbracoForm<Umbraco.SampleSite.Controllers.AccountController>("SignIn"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group row">
        @Html.LabelFor(model => model.Username, new { @class = "col-sm-3 col-form-label" })
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Username" })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.Password, new { @class = "col-sm-3 col-form-label" })
        <div class="col-sm-9">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
}